.single-post {
  width: 90%;
  margin: 5rem auto;
  text-align: left;
}

.single-post__image {
  width: 100%;
  height: auto;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .single-post {
    width: 45rem;
  }
}
